@media screen and (max-width: 550px) {
    .container {
        width: 95vw;
        padding: 10px 20px;
    }

    .container h2 {
        font-size: 2em;
        text-align: center;
    }

    .container .game {
        width: 300px;
        height: auto;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }

    .item {
        width: 70px;
        height: 70px;
    }
}